a,ul,li{
	/* margin: 0;
	padding: 0; */ 
	list-style: none;
	text-decoration: none;
	color: black;
	font-size: 30px;
}
body{
	background-color: #8e8e8e;
}
a:hover{
	color: red;
}

ul ul li a{
	color: #0F36E4;
	font-size: 20px;
}

.main{
	width: 1200px;
	margin: 0 auto;	
}

.header img{
	display: block;
	margin: 0 auto;
}

.content p{
	text-align: center;
	font-size: 20px;
}