a,ul,li{
	/* margin: 0;
	padding: 0;  */
	list-style: none;
	text-decoration: none;
	color: black;
	font-size: 30px;
}
body{
	background-color: #8e8e8e;
	font-family: 楷体;
}
a:hover{
	color: red;
}

ul ul li a{
	color: #0F36E4;
	font-size: 20px;
}

.main{
	width: 1200px;
	margin: 0 auto;	
}

.header img{
	display: block;
	margin: 0 auto;
}

.content p{
	text-align: center;
	font-size: 20px;
}

.list{
	
	width: 150px;
	position: fixed;
	left: 40px;
	top:200px;
	border-top:4px dotted white;
	border-right:4px dotted white;
}

.list ul{
	margin: 0;
	padding: 5px;
}

.list ul a{
	font-size: 18px;
	color: white;
}

.list ul a:hover{
	color: red;
}

.catalog ul ul li{
	color: yellow;
	font-size: 25px;
}